@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Great+Vibes&family=Handlee&family=Oswald:wght@200..700&family=Spicy+Rice&family=Vazirmatn:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arima:wght@100..700&family=Great+Vibes&family=Handlee&family=Oswald:wght@200..700&family=Spicy+Rice&family=Vazirmatn:wght@100..900&display=swap');

/* main page */
header a {
  text-shadow: 0px 0px;
}

#headerparagraph {
  text-align: left;
  padding: 0;
  text-shadow: 0px 0px;
}

#button {
  text-align: left;
  padding: 0;
}

header{
    background-image: url("../images/lotus.jpg");
    background-position:  center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    padding-top: 30px;
    padding-left: 50px;
    text-shadow: 2px 1px #1f08cc;
    text-align: left;
}
.main {
  text-align: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: left;
}

.navbar {
  background-color: #758f9b;
}

#collapsibleNavbar ul {
  color: #07076e;
}
.btn-get-started {
    font-family: "Archivo", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 15px;
    border: 2px solid #ffffff;
    color: #fff;
  }
  
.btn-get-started:hover {
    background: #fbfdfa;
    color: black;
  }
  
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: whitesmoke;
	width: 500px;
	max-width: 80%;
}

body {

  background: url("../images/bg_lanterns.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#main {
  max-width: 1200px;
  margin: auto;
}

#column1 {
padding: 50px 25px;
border: 4px solid #76b2c4;
background-color: #76b2c4;
border-radius: 15px;
opacity: 80%;
}

#output.p-5 {
  padding: 2rem !important;
  text-align: justify;
  border-radius: 15px;
}

h2 {
  padding-left: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px #000000;
}

.formtable h2, p {
  padding-left: 10px;
  text-align: center;
}

#radiobtn {
  padding-left: 10px;
}

#form-check {
  padding-left: 10px;
}

label {
  color: black;
}

.btn-outline-info{
  border-color: #ffffff;
  color: white;
  width: 30%;
  text-align: center;
  background-color: #064957;
  border-radius: 10px;
}

.bg-secondary {
  opacity: 80%;
}

.bg-dark {
  opacity: 80%;
}

/* About HTML */
.about {
  text-align: center;
}
.sumparagraph {
  text-align: center;
  line-height: 200%;
  background-color: #76b2c4;
  padding: 30px;
  border-radius: 10px;
  opacity: 80%;
  color:#000000; 
}

/* References HTML */
.reference {
  text-align: center; 
}

.refpara {
  text-align: center;
  line-height: 200%;
  background-color: #76b2c4;
  padding: 30px;
  border-radius: 10px;
  opacity: 80%;
  color:#000000; 
}